.container {
  overflow: hidden;
  height: 80vh;

  display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-columns: 50% 50%;

  @media only screen and (max-width: $bp-phone) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
  }
}
