%heading {
  font-size: $font-size-heading;
  font-weight: 400;
}

.heading-1 {
  @extend %heading;

  font-size: Max(2.5rem, 3vw);
  font-weight: 800;
  letter-spacing: 0.1rem;
}

.paragraph {
  font-size: $font-size-default;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  &--big-p {
    font-size: 1.8rem;
  }
}
